#name {
    text-transform: uppercase;
    padding: .6rem 2rem;
    border-radius: 12px;
    background-color: #44475a;
    color: #f8f8f2;
    font-weight: 700;
}

.pokemon {
    background-color: #44475a;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 460px;
    width: 400px;
    border: 4px solid #f8f8f2;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #282a36;
    border: solid 2px #f8f8f2;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, .5);
    color: #f8f8f2;
}

.wrapper img {
    margin-top: 8px;
}

.wrapper p {
    margin-top: 1.3rem;
    font-size: 1.2rem;
}